/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Lexend+Deca&family=Staatliches&display=swap');
/* GLOBAL STYLES */

:root {
  --font-primary: "Staatliches", cursive;
  --font-secondary: "Lexend Deca", serif;
  --font-code: "Roboto", monospace;
  --bg-color: #16003f;
  --bg-color-transparent: #1a003bd8;
  --font-color: #ffffff;
  --btn-bg-color: #88dbfc;
  --accent-color: #88dbfc;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://rainbrosnft.com/frontend/images/rainbro_bg_color.jpg');
  background-repeat:repeat;
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
  background-size: contain;
  width: 100%;
  overflow-x: hidden !important;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
}
/* HEADER */

header {
  background-color: var(--bg-color);
  width: 100%;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 width: 100%;
}

header .logo img {
  text-align: left;
  max-width: 350px;
  width: 100%;
  padding-right: 30px;

}
.menu {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.menu a {
  margin-right: 10px;
}

/* NOT CONNECTED */
.not-connected {
  height: 100%;
  text-align: center;
  margin: 5% auto;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.5s ease-in-out;
  background-color:#130036;
  width:100%;
  border-radius: 100px;
  max-width: 900px;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}

.not-connected h1 {
  font-style: none;
  margin: 2rem 0;
  font-size: 3.5rem;
}

h1#welcomeH1{
  display: none;
}

.column {
  float: left;
  width: 50%;
}

.row{
  width: 100%;
  align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.not-connected h2{
  color:#88dbfc;
  margin-top: 20px;
  font-family: var(--font-primary);
}

.not-connected p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  line-height: 1.8;
  margin-top: 20px;
}

.not-connected .left img {
  width: auto;
  height: 500px;
  border-radius: 80px 0px 0px 80px;
  margin-right: 20px;
}

.not-connected .right img {
  width: 100%;
  height: auto;
  border-radius: none;
}

.welcome {
  width: 100%;
  max-width: 900px;
  height: auto;
  padding: 15px 10px;
}

.welcome img {
  width: 100%;
}

.preview{
 padding-right: 0px;
}

.not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.slide_vertical_wrap {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	overflow: hidden;
}

.intro {
  margin-left: 40px;
  margin-top: 40px;
}
/* BUTTONS */

button {
	--gradient:#f44, #e74, #cb3, #5c5, #5ca, #78e, #d6d;
	background: linear-gradient(90deg,
		var(--gradient),var(--gradient),var(--gradient));
	/* It actually scrolls from the second gradient to the third so the left and right edges aren't fkted up */
	background-size:600%;
  font-family: var(--font-secondary);
	outline:0;
	padding: 10px 20px;
	border-radius:100px;
	font-size:16px;
	border:none;
	color:#12002e;
	opacity:1;
	position:relative;
	z-index:2;
	box-sizing:border-box;
	animation:scrollbg linear 6s infinite, dundundun linear 1.3s infinite;
	transition:.2s ease;
	filter:saturate(1);
	cursor:pointer;
}
@keyframes scrollbg {
	0% {
		background-position:33.333333333333333% 0%;
		/* Second gradient ((600%/3) / 600%) */
	}
	100% {
		background-position:75% 0%;
		/* Third gradient + half width ((600%/3 * 2 + 50%) / 600%) */
	}
}
@keyframes dundundun {
	0% {
		transform:scale(1.05) rotate(1deg);
	}
	50% {
		transform:scale(1.0);
	}
	50.01% {
		transform:scale(1.05) rotate(-1deg);
	}
	100% {
		transform:scale(1.0);
	}
}
button:hover {
	color:#ffffff;
	animation: scrollbg linear 6s infinite;
	filter:saturate(.8);
	opacity:1;
}
button:active {
	color:#fff;
	animation:scrollbg linear .5s infinite;
	filter:saturate(1);
	transform:scale(1.1);
	opacity:1;
}
button:before {
	background-color:var(--bgColor);
	content:'';
	position:absolute;
	left:.1em;
	top:.1em;
	width:calc(100% - .2em);
	height:calc(100% - .2em);
	border-radius:.1em;
	z-index:-1;
}
button:before {
	opacity: .9;
}
button:after {
	background:inherit;
	content:'';
	position:absolute;
	left:.2em;
	top:.2em;
	width:calc(100% - .4em);
	height:calc(100% - .4em);
	filter:blur(32px);
	opacity:0;
	border-radius:.1em;
	z-index:-2;
}
button:after {
	opacity:1;
}
button:after {
	opacity:1;
	filter:blur(48px);
}
button:visited{
  color:#0d002e;
	animation: scrollbg linear 6s infinite;
	filter:saturate(.8);
	opacity:.9;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--bg-color);
  font-family: var(--font-secondary);
  font-style: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: .85;
}
.btn:hover {
  opacity: 1;
}
.btn:disabled {
  cursor: default;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
  background: var(--btn-bg-color);
}

.hero-btn {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1.2rem 3rem;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  margin-top: 20px;
}

/* CARD */

.card {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 100px 0px 100px 0px;
  border: 0px solid var(--accent-color);
  box-shadow: none;
  margin: 2rem auto;
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  width: auto;
  height: auto;
  max-width: 900px;
  padding: 20px;
  padding-bottom: 20px;
}

.card-header img{
  width: 30%;
  margin: 0 auto;
}

.show-card {
  opacity: 1;
  transform: translateX(0);
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 1.5rem;
  margin-left: 15px;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
  margin-bottom: 20px;
}
.countdown .clock-item .count-number {
  background: transparent;
  color:#ff349aee;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Cabin Sketch', cursive;
  padding: 1.1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--accent-color);
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 10px 10px;
}

.countdown h1 {
  font-style: none;
  margin: 1rem 0 .5rem;
  font-size: 2rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--font-secondary);
  font-size: 1rem;
  color:var(--accent-color);
  text-align: center;
}

.countdown p {
  font-size: 1rem;
  font-family: var(--font-secondary);
  margin-bottom: 1rem;
  text-align: center;
  color:#ff7e34ee;
}

.countdown img {
  width: auto;
  height: 450px;
  }

.countdown .left img {
  border-radius: 80px 0px 0px 0px;
}

.right img {
  border-radius: none;
}

.right {
  padding-right: 50px;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color:#0b0020;
  border-radius: 0px 0px 80px 0px;
  padding: 50px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background-color: transparent;
  border-radius: 10px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
  border-radius: 10px;
  background-color: transparent !important;
  border: 3px solid var(--btn-bg-color);
  color: var(--btn-bg-color);
}

.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 1rem;
}

.total-price-container p {
  color: var(--accent-color);
  font-size: 18px;
}

.total-price-container h3 {
  font-size: 18px;
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.minted-container h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
  color:#32f087;
}

.minted-container h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color:#32f087;
}

.minted-container p {
  margin: .5rem 0 .3rem;
}
input#mintInput {
  background: rgba(124,215,251,.2);
  border: 1px solid var(--accent-color);
  color: #ffffff;
  width: 30%;
}

#mintDecrement {
  background-color: var(--accent-color);
  border-radius: 10px 0px 0px 10px;
  border: none !important;
  box-shadow: none;
}

#mintIncrement {
  background-color: var(--accent-color);
  border-radius: 0px 10px 10px 0px;
  border: none !important;
  box-shadow: none;
}
button#setQtyMax.btn {
  background-color:var(--accent-color) !important;
  border-radius: 10px;
  border: none !important;
  box-shadow: none;
  width: 40%;
}

button .mint-btn {
background: none !important;
}

/* SLIDDER */

.splide {
  position: absolute;
  top: 90px;
  left: 5rem;
  z-index: -1;
}

.splide__slide {
  border: var(--accent-color) solid;
  border-width: 5px 10px;
}

.splide__slide img {
  width: 100%;
}

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

body {
  background-size: contain;
  background-position: repeat;

}

.card{
margin: 1rem auto;
border-radius: 80px;}

  .social {
    display: none;
  }

  .right {
    padding-right: 0px;
  }

  .hero-btn {
    margin: 0 auto;
    text-align: center;
  }
  .column {
    width: 100%;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 0.5rem 1rem;
    max-width: 8rem;
  }
  .not-connected {
    background-color: var(--bg-color);
    border-radius: 100px;
    padding: 1rem;
    margin: 1rem auto;
  }

  .not-connected .left img {
    border-radius: 80px 80px 0px 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
  }

  .countdown .left img {
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 80px 80px 0px 0px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }

  

  .countdown ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .countdown .clock-item {
    width: 100%;
  }
  .countdown .clock-item .count-number {
    font-size: 1.5rem;
  }
  .countdown .clock-item .count-text {
    font-size: 1rem;
  }
.countdown #subHeading {
  display: none;
}
  ul.count-down {
    display: none;
  }
  .countdown h1 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  .countdown h2 {
    padding-top: 0.5rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .card {
    padding: 2rem;
  }
  .mint-qty .btn {
    padding: 1rem;
    font-size: 13px;
  }
}

/* UTILITIES */

.hidden {
  display: none;
}
